<div class="navbar bg-white w-full h-12 flex justify-between items-center">
    <span class="logo text-2xl font-extrabold ml-3">SPA</span>
    <div class="navbuttons flex gap-3 mr-3">
        <button (click)="getHome()" class="text-xl">Home</button>
        <button (click)="getShowWorkouts()" class="text-xl">Show Workouts</button>
        <button (click)="getWorkoutCharts()" class="text-xl">Workout Charts</button>
        <button (click)="ClearWorkouts()" class="text-xl">Clear Workouts</button>
        <button (click)="generateDummyData()" class="text-xl">Dummy Data</button>

    </div>
</div>
